.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.list-group {
	width: 600px;
  margin: 10px auto 10px;
  display: block;
  background: #DCDCDC;
  border-radius: 25px;
}

.convertimage {
	margin-top: 10px;
	width: 10%;
  height: 10%;
	background:transparent;
	vertical-align: middle;
}

.form-control {
 width: 500px;
 margin: 10px auto 0;
 display: block;
 background: #DCDCDC;

 border-radius: 25px;

}

body {
  background-image: url("/images/cool-background.png");
	text-align: center;

}
