extends navibar

block content 

  link(rel='stylesheet', href='/css/index.css')
  h1 Select a Cipher to Encode or Decode
  .imgcontainer
  .text rot13 cipher
  a(href='rot13')
    img.img(src='/images/rot13.png', align='middle')
  .imgcontainer
  .text Baconian
  a(href='baconian')
    img.img(src='/images/bacon.png', align='middle')
  
